
:root {
    --color-bg-fondo: rgb(44, 62, 80);
    --color-bg-card: rgb(214, 48, 49);
}

a {
    color: #000000;
    text-decoration : none;
}

body {
    background-color: var(--color-bg-fondo);
}

.card {
    border: 5px solid #ffff;
    background-color: var(--color-bg-card);
}

.card_mat {
    width: 28em;
}

#imagen {
    border: 5px outset var(--color-card);
}
.card img {
    border: 5px inset var(--color-card);
}

#imagen:hover {
    border: 5px inset var(--color-card);
}

label {
    border-radius: 4px;
    font-weight: bold;
}

.sc {
    animation-name: mianimacion;
    animation-duration: 10s;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes mianimacion {
    0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
    25% {color: rgb(254, 211, 48); background-color: #000000; left: 1150px; top: 0px}
    50%{color: #f39c12; background-color: #000000;  right: 1150px; top: 0px}
    75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
    100%{color: #f39c12; background-color: #000000; left: 0;right: 1150px;}
}

@media (max-width: 475px) {
    .card_mat {
        width: 25em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 405px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 405px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 405px;}
    }

}

@media (max-width: 420px) {
    .card_mat {
        width: 21em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 350px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 350px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 350px;}
    }

}

@media (max-width: 399px) {
    .card_mat {
        width: 18em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 260px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 260px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 260px;}
    }
}

@media (max-width: 390px) {
    .card_mat {
        width: 18em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 250px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 250px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 250px;}
    }
}

@media (max-width: 375px) {
    .card_mat {
        width: 18em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 230px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 230px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 230px;}
    }
}

@media (max-width: 360px) {
    .card_mat {
        width: 16em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 290px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 290px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 290px;}
    }

}

@media (max-width: 330px) {
    .card_mat {
        width: 13em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 160px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 160px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 160px;}
    }
}

@media (max-width: 325px) {
    .card_mat {
        width: 13em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 180px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 180px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 180px;}
    }
}

@media (max-width: 320px) {
    .card_mat {
        width: 12em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 150px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 150px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 150px;}
    }
}

@media (max-width: 300px) {
    .card_mat {
        width: 12em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 135px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 135px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 135px;}
    }
}

@media (max-width: 280px) {
    .card_mat {
        width: 13em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 210px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 210px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 210px;}
    }
}

@media (max-width: 170px) {
    .card_mat {
        width: 13em;
    }

    @keyframes mianimacion {
        0%{color: #f39c12; background-color: #000000; left: 0; top: 0px}
        25% {color: rgb(254, 211, 48); background-color: #000000; left: 70px; top: 0px}
        50%{color: #f39c12; background-color: #000000;  right: 70px; top: 0px}
        75% {color: rgb(254, 211, 48); background-color: #000000; left: 0; top: 0px}
        100%{color: #f39c12; background-color: #000000; left: 0;right: 70px;}
    }
}

